<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6dfnO9PN82OPWLQ7HSIGRNkF_XQC5f7s</string>
	<key>GCM_SENDER_ID</key>
	<string>247392280343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asia.and.andasia</string>
	<key>PROJECT_ID</key>
	<string>andflutter-25587</string>
	<key>STORAGE_BUCKET</key>
	<string>andflutter-25587.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247392280343:ios:2bd05bbc73df8aabde2152</string>
</dict>
</plist>